

.about_us {
	width: 50%;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	margin-left:300px;
	margin-top: 80px;
	padding: 10px;
	

}

.about_us h1{
	text-align: center;
    letter-spacing: 2px;
    font-size: 29px;
	margin-top:30px;
	color: darkred;
	
}

.about_us p{
	text-align: center;
    width: 299px;
    margin-left: 200px;
    margin-top: 25px;
	font-size: larger;
	margin-bottom: 40px;
	color:crimson;

}

.map{
	margin: 30px 20px;
}